.popupBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContent {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.popupContent h2 {
  margin-bottom: 20px;
}

.popupContent ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.popupContent .productItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.popupContent .productItem img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.popupContent .closeButton {
  margin-top: 20px;
  padding: 10px 20px;
  background: #444d44;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
